<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acl</key>
	<integer>0</integer>
	<key>deviceid</key>
	<string>F0:2F:4B:0A:E2:01</string>
	<key>features</key>
	<integer>-5182147980068663339</integer>
	<key>macAddress</key>
	<string>00:00:00:00:00:00</string>
	<key>model</key>
	<string>MacBookPro18,3</string>
	<key>osBuildVersion</key>
	<string>22D5027d</string>
	<key>protovers</key>
	<string>1.0</string>
	<key>srcvers</key>
	<string>675.1.1</string>
</dict>
</plist>
